@model HospitalManagementSystem.Models.UserProfile

@{
    ViewBag.Title = "UserDashBoard";
}
<div style="margin-left: auto; margin-right: auto; text-align: center;">
    <h1> Welcome @Session["UserName"].ToString()</h1>
</div>

